* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
label {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
fieldset,
.button {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
}

body {
  background: #BFD7E4;
  padding-bottom: 50px;
}

body::before {
  content: '';
  width: 100%;
  height: 465px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: #293241;
}

.page {
  height: 1538px;
  padding: 105px 345px 392px;
  margin-bottom: 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

header h1 {
  font-size: 36px;
  line-height: 45px;
}

header p {
  font-size: 16px;
  line-height: 24px;
}

header img {
  margin-top: 28px;
}

form {
  padding: 32px 64px 64px;

  background: #FFFFFF;
  border-radius: 0 0 20px 20px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 30px;
  width: 100%;
  height: 133px;

  border-radius: 20px 20px 0 0;
  background: #F67669;
  color: #FFFF;

  font-size: 24px;
  line-height: 34px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {

  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin: 16px 0 8px 0;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #a9a7af;
}

.input-wrapper label span:hover {
  color: #6c6a71;
}

.input-wrapper input,
.input-wrapper select,
.input-wrapper textarea {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 51px;

  padding: 0 20px;

  font-size: 16px;
  line-height: 26px;

  color: #6c6a71;
}

.input-wrapper select {
  width: 50%;
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.input-wrapper textarea {
  padding: 10px 20px;
  height: 167px;

  margin-bottom: 30px;
}


.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: '';
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus+label::before {
  outline: 2px solid black;
}


.col-2,
.col-3 {
  display: flex;
  gap: 20px;

}

.col-2>div:nth-child(1),
.col-2>div:nth-child(2) {
  width: 50%;
}

.col-3>div:nth-child(1) {
  width: 50%;
}

.col-3>div:nth-child(2),
.col-3>div:nth-child(3) {
  width: 25%;
}


fieldset legend {
  display: flex;
  justify-content: center;

  font-size: 24px;
  line-height: 34px;
  color: #535971;

  width: 100%;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

footer .button {
  margin-top: 10px;
  width: 100%;
  border: 0;
  align-items: center;
  padding: 15px 40px;

  font-size: 20px;
  line-height: 26px;

  background: #F67669;
  color: #FFFFFF;
  border-radius: 8px;
  text-transform: uppercase;
}

footer .button:hover {
  background: #f46757;

}